@import "@utils/vars";

.video-player {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 82px;
    text-align: center;
    margin-bottom: 20px;
    color: $white;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__video {
    width: 100%;
  }

  &__counters {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}