@import "@utils/vars";

.video-counter {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  font-weight: 700;

  &__current {
    color: $gray;

    &.active {
      color: $red;
    }
  }
}