@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@font-face {
  font-family: 'DrukCyr';
  font-style: normal;
  font-weight: 700;
  src: url('@assets/fonts/DrukCyr/DrukCyr-Bold.ttf') format('truetype');
}